<p style="display:none">
  Perlゼミは、オンラインのプログラミングスクール。プログラミングをオンラインで0から学べる。質問したいときは、フォーラムで。<br>一緒に学んでいる仲間が、質問に答えます。
</p>

<div class="index-head">
  <h2>Perlゼミ - プログラミングスクール オンライン</h2>
  <div>
    <img src="/images/note-pc-boy.png">
  </div>
  <div class="index-head-description">
    Perlゼミ プログラミングスクール オンラインは、Webシステム開発者への最短距離。<br>Webシステム開発者に必要なプログラミングとデザインの知識を0から学べる。<br>質問したいときは、フォーラムで。<br>一緒に学んでいる仲間が、質問に答えてくれます。
  </div>
</div>
<div>
  <div class="index-inner">
    <div class="index-courses">
      <h3>プログラミング基礎講座</h3>
      <div class="index-courses-description">
        Webシステム開発者になるためのプログラミング・デザイン・サーバー管理の基礎講座。プログラミング入門から初めて、テキスト処理、Linuxサーバー管理、Webデザイン制作、Webシステム開発が学べる。
      </div>
      <ul>
        <li>
          <a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ">
            <div class="index-courses-item-title">動画でプログラミング入門講座</div>
            <div class="index-courses-item-description">0から学べる動画によるプログラミング入門</div>
          </a>
        </li>
        <li>
          <a href="https://tutorial.perlzemi.com/">
            <div class="index-courses-item-title">Perlプログラミング入門講座</div>
            <div class="index-courses-item-description">プログラミングPerlを使ったプログラミングの入門講座</div>
          </a>
        </li>
        <li>
          <a href="https://text.perlzemi.com/">
            <div class="index-courses-item-title">テキスト処理・正規表現入門講座</div>
            <div class="index-courses-item-description">テキストの検索・置換・正規表現を自由に使いこなす講座</div>
          </a>
        </li>
        <li>
          <a href="https://linux.perlzemi.com/">
            <div class="index-courses-item-title">Linxuサーバー管理入門講座</div>
            <div class="index-courses-item-description">Linuxコマンドを覚えて、サーバー運用の基礎を学ぶ講座</div>
          </a>
        </li>
        <li>
          <a href="https://webdesign.perlzemi.com/">
            <div class="index-courses-item-title">Webデザイン入門講座</div>
            <div class="index-courses-item-description">WebデザインをHTML・CSSの基礎から学べる講座</div>
          </a>
        </li>
        <li>
          <a href="https://web.perlzemi.com/">
            <div class="index-courses-item-title">Webシステム開発入門講座</div>
            <div class="index-courses-item-description">Web開発者のための入門講座。ECサイトの作成、SSLからドメイン管理まで</div>
          </a>
        </li>
        <li>
          <a href="https://mariadb.perlzemi.com/">
            <div class="index-courses-item-title">MariaDBデータベース入門</div>
            <div class="index-courses-item-description">MariaDBを使ったデータベース・SQLの入門講座</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="index-features">
  <div class="index-inner">
    <h3>プログラミングであなたの仕事を楽にしよう<br>あなたの夢をかなえよう<br>工夫次第で、可能性は無限大。</h3>
    <ul>
      <li >
        <a href="https://jp.giblog.net/">
          あなたの情報をWebサイト・ブログで発信
        </a>
      </li>
      <li >
        <a href="https://tutorial.perlzemi.com/blog/20120326133275.html">
          業務を速く終える定型処理の自動化
        </a>
      </li>
      <li >
        <a href="https://philosophy.perlzemi.com/">
          プログラミングの歴史と哲学
        </a>
      </li>
      <li >
        <a href="https://laboratory.perlzemi.com/">
          大学院レベルのソフトウェア研究
        </a>
      </li>
      <li >
        <a href="https://datascience.perlzemi.com/">
          ビジネスデータをデータサイエンスで分析
        </a>
      </li>
      <li >
        <a href="https://deeplearning.perlzemi.com/">
          <div class="index-features-title">ディープラーニングを使った人工知能</div>
        </a>
      </li>
      <li >
        <a href="https://bio.perlzemi.com/">
          <div class="index-features-title">遺伝子を解析・バイオインフォマティクス</div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="index-inner" style="max-width:860px;width;text-align:center">
  <h3 style="margin:90px 0 20px 0;font-size:30px;letter-spacing:3px;">Perlゼミフォーラム</h3>
  <div style="color:#111">
    プログラムで、ここがどうしてもわからない。前へ進めない。<br>そんなときは、Perlゼミフォーラムをご活用ください。<br>共に学んでいる仲間が質問に答えてくれます。
  </div>
</div>
<div class="index-start">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6ypMTx5XTh2KbsIgqgPMXNrC5Bo9FKRPVHM_o0jvrH_k28A/viewform">フォーラムへ登録</a>
</div>
<div class="index-start">
  <a href="https://perlzemi.slack.com/" style="background-color:#009D82">ログイン</a>
</div>
